body{
    background-color: black;
}

.form{
    margin: 20px;
    height: 90px;
    width: 600px;
    background-color: rgb(214, 213, 213);
    border-radius: 10px;
}
.form-2{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.form input{
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

button{
    width: 100px;
    border: none;
    background-color: rgb(59, 8, 243);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
}

.container-2{
    padding: 20px;
}

.form-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 80px;
    width: 500px;
    background-color: rgb(214, 213, 213);
    border-radius: 10px;
}

.form-5{
    width: 100px;
    border: none;
    background-color: rgb(241, 32, 32);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
}

@media(max-width:500px){
    .container{
        flex-direction: column;
    }
    .form{
        width: 100%;
    }
    .form-4{
        width: 100%;
    }
}